.dropdown-menu {
  min-width: 10rem;
  border: none;
  box-shadow: var(--bs-box-shadow-lg);
  margin-top: 0.5rem;
}

.dropdown-item {
  border: none;
  background: none;
  padding: 0.5rem 1rem;
  text-align: left;
  width: 100%;
  transition: all 0.15s ease-in-out;
  border-radius: var(--bs-border-radius-sm);
  margin: 0.25rem 0.5rem;
}

.dropdown-item.active {
  background-color: var(--bs-primary);
  color: white;
}

.dropdown-item.active:hover {
  background-color: var(--bs-primary);
  color: white;
}

.dropdown-item:hover {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-body-color);
  cursor: pointer;
}

.dropdown-item:focus {
  outline: none;
  background-color: var(--bs-secondary-bg);
  color: var(--bs-body-color);
}