.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.modal-title {
  font-weight: 600;
}
