.toast {
  min-width: 300px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.toast-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}
